img{
    width: 110px;
    height: auto;
   margin-top: 170px;
   margin-left: 670px;
    
}
.back{
    color: rgb(247, 50, 50);
    font-size: 20px;
    margin-left: 1450px;
}
.back:hover{
    color: green;
    font-size: 18px;
}
h1{
    font-size: 45px;
    margin-top: 20px;
    margin-left: 550px;
}
.pra{
    font-size: 18px;
    margin-left: 570px;
}
a{
    overflow: hidden;
    text-decoration: none;
}
.pra2{
    font-size: 17px;
    margin-left: 600px;
}
.atag{
    font-size: 18px;
    color:  orange;
}
.atag:hover{
    font-size: 20px;
    color: rgb(4, 17, 161);
}