*{
    background-image: url(https://t3.ftcdn.net/jpg/01/22/71/96/360_F_122719641_V0yw2cAOrfxsON3HeWi2Sf4iVxhv27QO.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.back{
    color: rgb(247, 50, 50);
    font-size: 20px;
    margin-left: 1450px;
}
.back:hover{
    color: green;
    font-size: 18px;
}
.fulldiv{
    margin-left: 730px;
    margin-top: 100px;
    width: 700px;
    height: 540px;
    border-left: solid 4px rgb(237, 113, 35);
    border-right: solid 4px rgb(237, 113, 35);
    border-top: solid 4px rgb(61, 243, 44);
    border-bottom: solid 4px rgb(61, 243, 44);

    border-radius: 15px;
}
.head{
    color: red;
    font-size: 40px;
     margin-left: 190px;
    margin-top: 25px;
    margin-bottom: 40px;
}

.headspan{
    color: rgb(234, 219, 13);
    font-size: 40px;
    letter-spacing: 2px;
}
.lebel{
    color: rgb(236, 24, 38);
    font-size: 22px;
    margin-top: 15px;
    margin-left: 80px;
    margin-bottom: 30px;
}
img{ 
    margin-top: 0;
    margin-left: 230px;
    width: 30px;
    height: auto;
}
.input{
 
    width: 200px;
    height: 25px;
   
    border: solid 2px #111;
    background: #fff;
}
.pra{
    font-style: italic;
    margin-top: 0;
    margin-left: 240px;
    font-weight: bold;
}
.sub{
    font-size: 22px;
    background: rgb(167, 237, 143);
    color: rgb(241, 109, 61);
    margin-left: 290px;
    margin-top: 0;
}
.sub:hover{
    font-size: 20px;
    font-style: italic;
    background: rgb(236, 208, 122);
    color: rgb(27, 156, 4);
}
a{
    overflow: hidden;
    text-decoration: none;
}
.line{
    color: rgb(236, 37, 23);
    margin-top: 0;
    padding-top: 0;
    margin-left: 50px;
    font-weight: bold;
    font-size: 40px;
}
.sign{
    font-size: 20px;
    color: red;
    margin-left: 600px;
    margin-bottom: 20px;
}
.sign:hover{
    font-size: 22px;
    color: rgb(36, 189, 44);
   font-style: italic;
}