body{
    margin-left: 65px;
    margin-right: 65px;
    background-color: rgb(246, 246, 227);
}
.inner-page_about_section{
    margin: 0;
    padding: 0;

}
.breadcrumb{
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    font-style: italic;
    color: rgb(245, 148, 58);
}
a{
    overflow: hidden;
    text-decoration: none;
}
.about{
    font-size: 18px;
    font-style: normal;
    color: black;
    margin-top: 10px;
}
h1{
    font-size: 3rem;
    color: rgb(69, 68, 68);
}
p{
    font-size: 17px;
    color: rgb(58, 57, 57);
}
.col-md-12{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.g_box{
    width: 500px;
    font-size: 17px;
    padding: 15px;
    margin-top: 70px;
    margin-right: 120px;
    margin-left: 60px;
}
li{
    margin-bottom: 15px;
}
.apply{
    margin-left: 650px;
    font-size: 22px;
    font-weight: bold;
   padding-left: 15px;
   padding-top: 4px;
   padding-bottom: 4px;
   padding-right: 15px;
   background-color: rgb(237, 193, 50);
    border-radius: 12px;
    margin-bottom: 10px;

}
.apply:hover{
    
    font-size: 20px;
    font-weight: bolder;
   
   background-color: rgb(169, 242, 121);
    border-radius: 12px;

}
section{
    margin-bottom: 30px;
}
.back{
    color: rgb(247, 50, 50);
    font-size: 20px;
    margin-left: 1350px;
}
.back:hover{
    color: green;
    font-size: 18px;
}